**/node_modules/
**/projectenv/
**/__pycache__/
**/.vscode/
**/.idea/
**/migrations/
**/.env

app/static/build
**/staticfiles

**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*

**/dist
**/dist-ssr
**/*.local

**/**/.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw